:root {
  line-height: 1.5;
  font-weight: 400;
  --border-radius: 20px;
  --brand: rgb(5 0 255);
  --white: white;
  --black: black;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

body {
  min-height: 100vh;
  min-width: 100%;
}


.App{
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  min-height: 100vh; 
}


.section{
  padding: 90px;
}

/* FAQ */

.intro-header{
  text-align: center;
  margin-bottom: 2rem;
}

.accordion .accordion-button:focus{
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: none !important;
}


/* CTA */

/* .btn.download-btn {
  background-color: var(--white);
  color: var(--brand);
} */

a{
text-decoration: none;
transition: all 0.2s ease;
}

img {
width: 100%;
}

ul {
text-decoration: none;    
}

li{
list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
font-weight: 700;
}

.btn {
  font-weight: 500;
  padding: 8px 18px;
  border-radius: var(--border-radius);
  transition: all 2s ease;
}

.btn.btn-outline {
  background-color: none;
  color: var(--brand);
  border-color: 1px solid var(--brand);
}

.btn.btn-primary {
  background-color: var(--brand);
  border-color: 1px solid var(--brand);
}

.btn.btn-primary:hover{
  background-color: var(--brand);
  border-color: 1px solid var(--brand);
}


.btn.download-btn {
  color: var(--brand);
  background-color: white;
  border-color: 1px solid var(--brand);
}

.btn.download-btn:hover{
  color: var(--brand);
  background-color: white;
  border-color: 1px solid var(--brand);
}

section {
padding: 90px 0;
}


/* NAV */


.navbar-toggler {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}


.navbar-toggler[aria-expanded="true"] > span.navbar-toggler-icon {
display: none;
}

.navbar-toggler[aria-expanded="true"] > span.close {
display: inline-flex;
align-items: center;
justify-content: center;
width: 1.5em;
height: 1.5em;
vertical-align: middle;
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
}

.close-svg{
  width: 100%;
  height: 100%;
}

.navbar-toggler[aria-expanded="false"] > span.close {
  display: none;
} 





/* hero */

.logo {
  color: var(--brand);
}

.hero-row {
  border-radius: var(--border-radius);
  color: var(--white);
}


/* Review */

.review {
  position: relative;
  border-radius: 30px;
  padding: 30px;
  background-color: whitesmoke;
}

.review h3 {
margin: 20px 0px;
}

.review p {
margin: 20px 0px 20px 0px;
}

.review .review-img {
margin: auto;
}

.review-img img {
height: 200px;
}

/* media queries */

@media(min-width: 762px) {
.review-img .trust {
  /* height: 140px; */
  object-fit: contain;
}
}

@media (max-width: 990px) {
.cta-img::after {
    display: none;
}

.hi5-img {
    display: none;
}
}









.cta-img {
position: relative;
}

.cta-img::after {
content: url("/shield.svg");
position: absolute;
z-index: 2;
bottom: -160px;
}

.cta-img img {
height: 400px;
}

.hi-five {
position: relative;
}


/* .hi-five::after{
content: url("./trust_image/devsupport.svg");
position: absolute;
bottom: 200px;

} */


.cta-text {
font-size: 1.3rem;
white-space: wrap;
font-weight: bold;
}

/* Footer */

footer ul {
margin-top: 2rem;
}

.footer-row {
padding: 4rem 4rem;
border-radius: var(--border-radius);
}

.footer-top{
padding: 4rem 2rem;
}

.footer-top ul li {
margin: 1rem 0;
}

footer .footer-item {
margin-bottom: 2rem;
}

footer ul li a {
  text-decoration: none;
}

.footer-top ul li > a:hover {
color: var(--brand);
}   

footer .social-links a{
  width: 2.25rem;
  height: 2.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  border-radius: 3px;
  background-color: var(--black);
  color: var(--white);
  transition: all 1s ease;
  margin: 4px 0px 4px 5px;
  text-decoration: none;
}

.footer-download-button {
  margin: 0.8rem 0.4rem;
}